<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140078287-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140078287-1');
</script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title>Случайный фильм</title>
    <meta name="keywords" content="фильм, фильмы, фильмы онлайн, поиск кино, топ фильмы , лучшие фильмы , фильмы с лучшим рейтингом, выбор фильм, какой фильм посмотреть, топ 100 фильмов, выбор кино, выбор фильма, трейлеры к фильмам, поиск фильма, рандомный фильм, рандомное кино, Случайный фильм, список фильмов">
    <meta name="description" content="Онлайн-сервис, позволяющий выбрать случайное кино из огромного списка фильмов с самым высоким рейтингом. На сервисе размещены только топ фильмы с самым высоким мировым рейтингом">
    <!--SOCIAL META TAGS BEGIN-->
      <meta property="og:title" content="MOREFILMS | Фильмы с самым высоким рейтингом">
      <meta property="og:description" content="Онлайн-сервис, позволяющий выбрать случайное кино из огромного списка фильмов с самым высоким рейтингом.">
      <meta property="og:url" content="https://morefilms.club/">
      <meta property="og:image" content="https://morefilms.club/bg/linkimg.jpg">
      <meta property="og:image:width" content="677">
      <meta property="og:image:height" content="387">
    <!--SOCIAL META TAGS END-->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but lookfilm doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
