<template>
  <div class="film-page-wrp">
    <div class="container">
      <!-- {{film}} -->
      <Film :film=film />
    </div>
  </div>
</template>

<script>
import Film from '@/components/Film.vue'
export default {
  components:{
    Film
  },
  data(){
    return{
      film: null
    }
  },
  created(){
    // console.log(this.$route.params.slug)
    this.film = this.$store.getters.getFilmBySlug(this.$route.params.slug)
  }
}
</script>

<style lang="scss">
.film-page-wrp{
 background-image: url(/bg/bg1.jpg);
  background-repeat: repeat;
  min-height: 100vh;
  padding: 20px 0;
}

@media screen and (max-width: 991px){
  .film-page-wrp{
    background-image: none;
    background: none;
  }
}
</style>
