<template>
  <div class="random-wrp">
    <div class="random-header">
      <div class="container">
        <div class="dflex">
          <!-- <div class="filters">
            filters
          </div> -->
          <div class="random-btn">
            <button @click="randomFilm">
              <svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 512 512" width="512" class=""><g><path d="m390 264.332031c0 12.425781-10.074219 22.5-22.5 22.5h-82.5c-8.289062 0-15 6.707031-15 15 0 8.289063 6.710938 15 15 15h82.5c12.425781 0 22.5 10.074219 22.5 22.5s-10.074219 22.5-22.5 22.5h-82.5c-8.289062 0-15 6.707031-15 15 0 8.289063 6.710938 15 15 15h52.5c12.425781 0 22.5 10.074219 22.5 22.5s-10.074219 22.5-22.5 22.5h-52.5c-8.289062 0-15 6.707031-15 15 0 8.289063 6.710938 15 15 15h22.5c12.425781 0 22.5 10.074219 22.5 22.5s-10.074219 22.5-22.5 22.5l-99.59375-.003906c-25.097656 0-49.863281-5.011719-73.363281-13.832031-28.585938-10.730469-58.386719-16.167969-88.636719-16.167969h-30.90625c-8.285156 0-15-6.714844-15-15v-180c0-8.28125 6.714844-15 15-15h60.703125c13.417969 0 26.402344-4.773437 36.621094-13.476563l22.164062-18.867187c39.152344-33.070313 52.566407-78.632813 58.1875-128.414063.480469-4.269531 2.730469-8.144531 6.199219-10.679687 3.472656-2.535156 7.84375-3.496094 12.058594-2.660156 14.703125 2.914062 29.066406 8.46875 29.066406 39.097656v90c0 8.285156 6.71875 15 15 15h112.5c12.425781.003906 22.5 10.078125 22.5 22.503906zm0 0" data-original="#000000" class="active-path" style="fill:#333333" data-old_color="#000000"></path><path d="m332.011719 153.648438c-13.859375 0-25.988281-4.511719-34.644531-13.183594-12.203126-12.191406-16.171876-31.230469-10.914063-52.269532 4.644531-18.632812 16.054687-37.730468 32.125-53.789062 16.054687-16.066406 35.15625-27.476562 53.789063-32.121094 21.035156-5.289062 40.0625-1.289062 52.265624 10.910156 12.203126 12.1875 16.171876 31.246094 10.914063 52.269532-4.644531 18.632812-16.054687 37.730468-32.125 53.785156-16.054687 16.070312-35.15625 27.480469-53.789063 32.125-6.078124 1.523438-11.996093 2.273438-17.621093 2.273438zm0 0" data-original="#000000" class="active-path" style="fill:#333333" data-old_color="#000000"></path><path d="m422 240.832031c-8.289062 0-15-6.710937-15-15 0-8.292969 6.710938-15 15-15 16.023438 0 31.097656-6.242187 42.421875-17.578125 11.339844-11.324218 17.578125-26.398437 17.578125-42.421875 0-16.027343-6.238281-31.101562-17.578125-42.421875-5.859375-5.847656-5.859375-15.351562 0-21.210937 5.832031-5.859375 15.351563-5.859375 21.210937 0 17.007813 16.976562 26.367188 39.578125 26.367188 63.632812 0 24.050781-9.359375 46.652344-26.367188 63.632813-16.976562 17.007812-39.578124 26.367187-63.632812 26.367187zm0 0" data-original="#000000" class="active-path" style="fill:#333333" data-old_color="#000000"></path><path d="m338.925781 210.832031h-22.925781c-8.289062 0-15-6.710937-15-15 0-8.292969 6.710938-15 15-15h22.925781c35.652344 0 67.703125-19.820312 83.65625-51.710937 3.722657-7.425782 12.714844-10.398438 20.128907-6.707032 7.410156 3.703126 10.414062 12.714844 6.707031 20.125-21.0625 42.128907-63.398438 68.292969-110.492188 68.292969zm0 0" data-original="#000000" class="active-path" style="fill:#333333" data-old_color="#000000"></path></g> </svg>
              Запустить рандом
            </button>
          </div>
        </div>
      </div>
    </div>
     <div class="main-random">
       <transition name="fade">
        <div v-if="updateVisible" class="loader-prod">
          <div class="randomloader">
            <Loader />
          </div>
        </div>
      </transition>
      <transition name="page" mode="out-in">
        <div v-if="contentVisible">
          <div class="random-film">
            <div class="container">
              <Film :film=rndmFilm />
            </div>
          </div>
        </div>
      </transition>
     </div>
  </div>
</template>

<script>
import Film from '@/components/Film.vue'
import Loader from '@/components/Loader.vue'
export default {
  data(){
    return{
      film: null,
      updateVisible: false,
      contentVisible: true
    }
  },
  components:{
    Film,
    Loader
  },
  computed:{
    rndmFilm(){
      return this.$store.getters.getRandomFilm
    }
  },
  updated(){
    setTimeout(() => {
      this.updateVisible = false
      this.contentVisible = true
    }, 2000)
    // this.contentVisible = true
  },
  created(){
    this.$store.dispatch('chengeRandomFilm')
  },
  methods:{
    randomFilm: function () {
      // console.log('random')
      this.updateVisible = true
      this.contentVisible = false
      this.$store.dispatch('chengeRandomFilm')
    }
  }
}
</script>

<style lang="scss">
.random-header{
  border-bottom: 1px solid #eee;
  background: #fff;
  .dflex{
    height: 50px;
    align-items: center;
    justify-content: center;
    .random-btn{
      button{
        display: flex;
        align-items: center;
        outline: none;
        border: 1px solid #111111;
        padding: 6px;
        svg{
          width: 20px;
          height: 20px;
          margin-right: 6px;
        }
      }
    }
  }
}

.main-random{
  // position: relative;
  height: 100%;
}

.loader-prod{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.randomloader{
  width: 100%;
  display: flex;
  align-items: center;
}

.page-enter-active, .page-leave-active {
  transition: opacity .6s, transform .6s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.random-wrp{
  background-image: url('/bg/bg1.jpg');
  background-repeat: repeat;
  min-height: 100vh;
}

.film-wrp{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
}

@media screen and (max-width: 991px){
  .film-wrp{
    padding: 0;
  }
  .random-wrp{
  background-image:none;
  background: none;
}
}
</style>
