<template>
  <div>
     <div class="item">
       <a @click="linkProduct(film.slug)" class="photo-link">
         <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <!-- side1 -->
              <img v-bind:src=film.poster v-bind:alt=film.title>
            </div>
            <div class="flip-card-back">
              <div class="second-flip">
                <div class="bg-img-flip">
                  <img v-bind:src=film.poster v-bind:alt=film.title>
                </div>
                <div class="bg-flip">
                  <button>Трейлер</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       </a>
        <div class="item-title">
          <button @click="linkProduct(film.slug)">
            {{film.title}}
          </button>
          <div class="categories">
            <span v-for="(category, index) in categoryFilm" :key="index">
              {{category.title}}/
            </span>
          </div>
        </div>
        <div class="item-reiting-show">
          <div class="rite">
            imdb: {{film.imdb}}
          </div>
          <div class="details">
            <button @click="linkProduct(film.slug)">Подробнее...</button>
          </div>
        </div>
     </div>
  </div>
</template>

<script>
export default {
  name: 'FilmItem',
  props: {
    film:{
      type: Object
    }
  },
  data() {
    return {
      categoryFilm: null
    }
  },
  created(){
    // console.log(this.film.category)
    let _this = this
    let categoriesFilm = []
    for (let index = 0; index < this.film.category.length; index++) {
      // const element = array[index];
      let id = this.film.category[index]
      let category = this.$store.getters.getCategoryById(id)
      categoriesFilm.push(category)
    }
    this.categoryFilm = categoriesFilm
    // console.log(categoriesFilm)
  },
  methods: {
    linkProduct: function (slug) {
      // let slugCategory = this.$store.getters.getCategoryById(category)
      this.$router.push({ name: 'film', params: { slug: slug } })
    }
  }
}
</script>

<style lang="scss">

.item{
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  .photo-link{
    cursor: pointer;
  }
  .item-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    a{
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
    .categories{
      margin: 6px 0;
      min-height: 36px;
      span{
        font-weight: 300;
        font-size: 11px;
      }
    }
  }
  .item-reiting-show{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }
  .item-buy{
    a{
      cursor: pointer;
      font-weight: 500;
      &:hover{
        opacity: .7;
      }
    }
  }
}


.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front{
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.flip-card-back{
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-back{
  .second-flip{
    position: relative;
    width: 100%;
    height: 100%;
    .bg-img-flip{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      img{
        object-fit: cover;
      }
    }
    .bg-flip{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000 , $alpha: 0.8);
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        background: none;
        border: 2px solid #fff;
        color: #fff;
        outline: none;
        width: 60%;
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 991px){
  .flip-card{
    height: 350px;
  }
}

@media screen and (max-width: 600px){
  .flip-card{
    height: 300px;
  }
}
</style>
