<template>
  <div class="film-wrp">
    <div class="title-wrp">
      <h1>{{film.title}}, {{film.year}}</h1>
    </div>
    <div class="main">
      <div class="film-poster">
        <button class="scrolltovideo" @click="scrollToVideo">Трейлер</button>
        <img v-bind:src=film.poster v-bind:alt=film.title>
        <div class="mobile-imdb">
           IMDB: {{film.imdb}}
        </div>
      </div>
      <div class="film-info">
        <div class="imdb">
          IMDB: {{film.imdb}}
        </div>
        <div class="year">
          Год: {{film.year}}
        </div>
        <div class="country">
          Страна: {{film.country}}
        </div>
        <div class="category">
          <span v-for="(category, index) in categoryFilm" :key="index">{{category.title}}/</span>
        </div>
        <div class="director">
          Режиссер: {{film.director}}
        </div>
        <div class="description">
          {{film.description}}
        </div>
      </div>
    </div>
    <div id="video" class="video">
      <iframe v-bind:src=film.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Film',
  props: {
    film: {
      type: Object
    }
  },
  data() {
    return {
      categoryFilm: null
    }
  },
  created(){
    // console.log(this.film.category)
    let _this = this
    let categoriesFilm = []
    for (let index = 0; index < this.film.category.length; index++) {
      // const element = array[index];
      let id = this.film.category[index]
      let category = this.$store.getters.getCategoryById(id)
      categoriesFilm.push(category)
    }
    this.categoryFilm = categoriesFilm
    // console.log(categoriesFilm)
  },
  methods:{
    scrollToVideo: function () {
      // console.log('SCROLLL')
      document.getElementById("video").scrollIntoView({behavior: "smooth"});
    }
  }
}
</script>

<style lang="scss">
.film-wrp{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
 .title-wrp{
   h1{
    text-align: left;
    font-weight: 500;
    padding: 5px 0;
   }
 }
 .main{
   margin-top: 10px;
   display: flex;
   .film-poster{
     width: 30%;
     min-width: 30%;
     position: relative;
     .mobile-imdb{
       display: none;
     }
     img{
       width: 100%;
     }
     .scrolltovideo{
       width: 100%;
       margin: 0 0 10px 0;
       padding: 6px;
       border: 1px solid #111111;
       outline: none;
       cursor: pointer;
     }
   }
   .film-info{
     width: 70%;
     min-width: 70%;
     padding-left: 20px;
     .imdb{
       font-weight: 600;
     }
     div{
       margin-bottom: 5px;
       padding-bottom: 5px;
       border-bottom: 1px solid #eee;
       text-align: left;
     }
   }
 }
 .video{
  margin-top: 20px;
  iframe{
    width: 100%;
    height: auto;
    min-height: 400px;
  }
}
}

@media screen and (max-width: 991px){
.film-wrp{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 .main{
   .film-poster{
     width: 30%;
     min-width: 30%;
   }
   .film-info{
     width: 70%;
     min-width: 70%;
     padding-left: 20px;
   }
 }
}
 .video{
  margin-top: 20px;
  margin-bottom: 20px;
  iframe{
    width: 100%;
    height: auto;
    min-height: 350px!important;
  }
}
}

@media screen and (max-width: 600px){
.film-wrp .title-wrp h1{
  font-size: 20px;
}
.film-wrp{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 .main{
   flex-direction: column;
   .film-poster{
     width: 100%;
     min-width: 100%;
     .mobile-imdb{
       display: block;
        position: absolute;
        top: 55px;
        left: 10px;
        background: #fff;
        padding: 5px;
        font-size: 12px;
        font-weight: 600;
        opacity: .7;
     }
   }
   .film-info{
     margin-top: 15px;
     width: 100%;
     min-width: 100%;
     padding-left: 0;
   }
 }
}

 .video{
  margin-top: 20px;
  iframe{
    width: 100%;
    height: auto;
    min-height: 250px!important;
  }
}
}
</style>
