<template>
  <div>
    <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex v-if="index < showFilmsCout" v-for="(film, index) in films" :key="index" xs3>
        <FilmItem :film=film />
      </v-flex>
    </v-layout>
    <div v-if="loader" class="loader-add">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div v-if="addbutton" class="addModreFilms">
      <button @click="addmore">Больше фильмов...</button>
    </div>
  </v-container>
  </div>
</template>

<script>
import FilmItem from '@/components/FilmItem.vue'
export default {
  name: 'FilmList',
  components:{
    FilmItem
  },
  data(){
    return{
      films: [],
      showFilmsCout: 8,
      loader: false,
      addbutton: true
    }
  },
  created(){
    this.films = this.$store.getters.getFilms
  },
  methods:{
    addmore: function(){
        this.addbutton = false
        this.loader = true
        let _this = this
        setTimeout(()=>{
          this.loader = false
          this.showFilmsCout += 8
          console.log(this.films.length)
          console.log(this.showFilmsCout)
          if(this.showFilmsCout < this.films.length){
            _this.addbutton = true
          }
        },1000)
    }
  }
}
</script>

<style lang="scss">
.addModreFilms{
  margin-bottom: 50px;
  margin-top: 10px;
  button{
    outline: none;
    height: 40px;
  }
}
.spinner {
  margin: 10px auto;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 50px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 1px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
</style>
