<template>
  <header>
    <div class="container">
      <div class="dflex">
        <!-- <div class="filters">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;" xml:space="preserve" width="512" height="512" class=""><g><g>
              <g>
                <path d="M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                <path d="M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
                <path d="M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path>
              </g>
            </g></g></svg>
          </button>
        </div> -->
        <div  @click="pushhome" class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="-2 0 511 511.99884" width="512" class=""><g><path d="m492.101562 170.636719h-11.378906l-78.113281 82.453125h-43.371094l78.117188-82.453125h-58.4375c-.699219 1.507812-1.640625 2.933593-2.84375 4.207031l-74.132813 78.246094h-43.371094l78.117188-82.453125h-57.296875l-78.117187 82.453125h-43.371094l78.117187-82.453125h-57.296875l-78.117187 82.453125h-43.371094l78.117187-82.453125h-30.859374l30.292968-5.886719-110.058594-78.636719-11.488281 2.230469c-8.519531 1.65625-14.101562 9.9375-12.449219 18.457031l12.730469 65.484375c.492188 2.53125 1.355469 11.46875 1.355469 14.09375v309.878906c0 8.679688 7.0625 15.742188 15.742188 15.742188h461.484374c8.679688 0 15.742188-7.0625 15.742188-15.742188v-309.878906c0-8.679687-7.0625-15.742187-15.742188-15.742187zm-113.664062 265.710937h-234.15625c-8.695312 0-15.742188-7.046875-15.742188-15.742187 0-8.691407 7.046876-15.738281 15.742188-15.738281h234.15625c8.695312 0 15.742188 7.046874 15.742188 15.738281 0 8.695312-7.046876 15.742187-15.742188 15.742187zm0-76.125h-234.15625c-8.695312 0-15.742188-7.046875-15.742188-15.742187 0-8.695313 7.046876-15.742188 15.742188-15.742188h234.15625c8.695312 0 15.742188 7.046875 15.742188 15.742188 0 8.695312-7.046876 15.742187-15.742188 15.742187zm0 0" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path><path d="m233.601562 145.542969-110.058593-78.640625-56.242188 10.933594 110.054688 78.636718zm0 0" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path><path d="m276.070312 137.285156 56.347657-10.953125-110.054688-78.636719-56.246093 10.933594 108.742187 77.699219c.425781.300781.824219.621094 1.210937.957031zm0 0" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path><path d="m431.238281 107.125-110.054687-78.636719-56.246094 10.929688 110.054688 78.640625zm0 0" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path><path d="m484.980469 96.679688c4.117187-.800782 7.683593-3.164063 10.039062-6.65625 2.355469-3.492188 3.210938-7.683594 2.410157-11.800782l-12.730469-65.484375c-1.65625-8.519531-9.933594-14.101562-18.457031-12.449219l-102.484376 19.921876 110.054688 78.636718zm0 0" data-original="#000000" class="active-path" style="fill:#FFFFFF" data-old_color="#ffffff"></path></g> </svg>
          <span>MOREFILMS</span>
        </div>
        <div class="look-film">
          <button @click="randompush">
           Рандомный фильм
          </button>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  methods:{
    randompush: function () {
      this.$router.push({name: 'random'})
    },
    pushhome: function () {
       this.$router.push({name: 'home'})
    }
  }
}
</script>

<style scoped lang="scss">

header{
  background: #333333;
  position: sticky;
  top: 0;
  z-index: 100;
  .dflex{
    align-items: center;
    justify-content: space-between;
    height: 45px;
    .filters{
      width: 33.333333333333%;
      display: flex;
      justify-content: flex-start;
      button{
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0.8;
        svg{
          width: 22px;
          height: 22px;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
    .logo{
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      svg{
        cursor: pointer;
        width: 22px;
        height: 22px;
      }
      span{
        color: #fff;
        font-size: 23px;
        margin-left: 5px;
        margin-top: 4px;
        font-weight: 200;
      }
    }
    .look-film{
      display: flex;
      justify-content: flex-end;
      width: 50%;
      button{
        cursor: pointer;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        padding: 5px 10px;
        opacity: 1;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 600px){
  header .dflex .look-film button{
    font-size: 12px;
  }
}

@media screen and (max-width: 450px){
  header .dflex .look-film button{
    font-size: 9px;
  }
}
</style>
