<template>
  <div id="cssload-contain">
    <div class="cssload-wrap" id="cssload-wrap1">
      <div class="cssload-ball" id="cssload-ball1"></div>
    </div>

    <div class="cssload-wrap" id="cssload-wrap2">
      <div class="cssload-ball" id="cssload-ball2"></div>
    </div>
    
    <div class="cssload-wrap" id="cssload-wrap3">
      <div class="cssload-ball" id="cssload-ball3"></div>
    </div>
    
    <div class="cssload-wrap" id="cssload-wrap4">
      <div class="cssload-ball" id="cssload-ball4"></div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'Loader'
}
</script>


<style lang="scss">
#cssload-contain {
	width: 75px;
	height: 25px;
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	animation: fadeIn 0.75s 1;
		-o-animation: fadeIn 0.75s 1;
		-ms-animation: fadeIn 0.75s 1;
		-webkit-animation: fadeIn 0.75s 1;
		-moz-animation: fadeIn 0.75s 1;
	animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
}

.cssload-wrap {
	animation: translate 750ms infinite ease-in-out alternate, zindex 1500ms infinite ease-in-out;
		-o-animation: translate 750ms infinite ease-in-out alternate, zindex 1500ms infinite ease-in-out;
		-ms-animation: translate 750ms infinite ease-in-out alternate, zindex 1500ms infinite ease-in-out;
		-webkit-animation: translate 750ms infinite ease-in-out alternate, zindex 1500ms infinite ease-in-out;
		-moz-animation: translate 750ms infinite ease-in-out alternate, zindex 1500ms infinite ease-in-out;
	position: absolute;
}

.cssload-ball {
	width: 25px;
	height: 25px;
	box-shadow: 0 -3.25px 0 rgba(0,0,0,0.15) inset;
	background-color: rgb(227,116,107);
	border-radius: 50%;
	animation: scale 750ms infinite ease-in-out alternate;
		-o-animation: scale 750ms infinite ease-in-out alternate;
		-ms-animation: scale 750ms infinite ease-in-out alternate;
		-webkit-animation: scale 750ms infinite ease-in-out alternate;
		-moz-animation: scale 750ms infinite ease-in-out alternate;
	animation-delay: -375ms;
		-o-animation-delay: -375ms;
		-ms-animation-delay: -375ms;
		-webkit-animation-delay: -375ms;
		-moz-animation-delay: -375ms;
	transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
	border: 1px solid black;
}

.cssload-ball:after {
	content: "";
	width: 25px;
	height: 6px;
	background: rgb(238,238,238);
	position: absolute;
	top: 35px;
	border-radius: 50%;
}

#cssload-wrap2 {
	animation-delay: -750ms;
		-o-animation-delay: -750ms;
		-ms-animation-delay: -750ms;
		-webkit-animation-delay: -750ms;
		-moz-animation-delay: -750ms;
}

#cssload-ball2 {
	background-color: rgb(57,123,249);
	animation-delay: -1125ms;
		-o-animation-delay: -1125ms;
		-ms-animation-delay: -1125ms;
		-webkit-animation-delay: -1125ms;
		-moz-animation-delay: -1125ms;
}

#cssload-wrap3 {
	animation-delay: -1125ms;
		-o-animation-delay: -1125ms;
		-ms-animation-delay: -1125ms;
		-webkit-animation-delay: -1125ms;
		-moz-animation-delay: -1125ms;
}

#cssload-ball3 {
	background-color: rgb(244,180,0);
	animation-delay: -1500ms;
}

#cssload-wrap4 {
	animation-delay: -1875ms;
		-o-animation-delay: -1875ms;
		-ms-animation-delay: -1875ms;
		-webkit-animation-delay: -1875ms;
		-moz-animation-delay: -1875ms;
}

#cssload-ball4 {
	background-color: rgb(15,157,88);
	animation-delay: -2250ms;
		-o-animation-delay: -2250ms;
		-ms-animation-delay: -2250ms;
		-webkit-animation-delay: -2250ms;
		-moz-animation-delay: -2250ms;
}






@keyframes translate {
	100% {
		transform: translateX(50px);
	}
}

@-o-keyframes translate {
	100% {
		-o-transform: translateX(50px);
	}
}

@-ms-keyframes translate {
	100% {
		-ms-transform: translateX(50px);
	}
}

@-webkit-keyframes translate {
	100% {
		-webkit-transform: translateX(50px);
	}
}

@-moz-keyframes translate {
	100% {
		-moz-transform: translateX(50px);
	}
}

@keyframes scale {
	100% {
		transform: scale(1);
	}
}

@-o-keyframes scale {
	100% {
		-o-transform: scale(1);
	}
}

@-ms-keyframes scale {
	100% {
		-ms-transform: scale(1);
	}
}

@-webkit-keyframes scale {
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes scale {
	100% {
		-moz-transform: scale(1);
	}
}

@keyframes zindex {
	25% {
		z-index: 1;
	}
	75% {
		z-index: -1;
	}
}

@-o-keyframes zindex {
	25% {
		z-index: 1;
	}
	75% {
		z-index: -1;
	}
}

@-ms-keyframes zindex {
	25% {
		z-index: 1;
	}
	75% {
		z-index: -1;
	}
}

@-webkit-keyframes zindex {
	25% {
		z-index: 1;
	}
	75% {
		z-index: -1;
	}
}

@-moz-keyframes zindex {
	25% {
		z-index: 1;
	}
	75% {
		z-index: -1;
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
</style>
